# Android Studio — IDE files (do not commit)
.gradle/
/build/
/captures/
.DS_Store
/local.properties
/.idea/
*.iml
*.hprof
*.keystore
*~

# Outputs
*.apk
*.ap_
*.aab
*.aar
*.zip
/out/
/release/
/debug/

# C/C++
.cxx/

# ktlint
.editorconfig.bak

# OS
Thumbs.db
